In [1]:
import pandas as pd
import os
import json

In [2]:
base_folder_path = 'D:\data_guan_cut_sub\Questionnaires'
csv_folder_path = r'D:\data_guan_cut_sub\final'

final_labels = {}

for participant_id in range(1, 44): 
    participant_folder = os.path.join(base_folder_path, f"No{participant_id}")
    
    
    excel_file_path = os.path.join(participant_folder, f"No{participant_id}_Subjective Questionnaires.xlsx")
    
    if os.path.exists(excel_file_path):
        df = pd.read_excel(excel_file_path,header=None)
        # print(df.head())
        labels = []
        
        for experiment_id, row in df.iterrows():
            print(row)
            safety_eval = row[0]  # 第一列
            
            # 二分类
            if 1 <= safety_eval <= 3:
                label = True
            elif 4 <= safety_eval <= 7:
                label = False
            
            # 存入列表
            labels.append({
                "experiment": f"{participant_id}_{experiment_id + 1}.csv",
                "label": label
            })
        
        final_labels[f"Participant_{participant_id}"] = labels
    else:
        print(f"Excel 文件 {excel_file_path} 不存在，跳过此文件。")

# 将结果保存为json文件
json_output_path = 'label_1.json' # 使用哪一列作为训练的标签
with open(json_output_path, 'w') as json_file:
    json.dump(final_labels, json_file, indent=4)

print(f"分类标签已保存为 {json_output_path}")

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\goodb\AppData\Local\Temp\ipykernel_2892\2129416542.py:1: SyntaxWarning: invalid escape sequence '\d'
  base_folder_path = 'D:\data_guan_cut_sub\Questionnaires'

0     4
1    21
2     3
Name: 0, dtype: int64
0     5
1    22
2     3
Name: 1, dtype: int64
0     5
1    22
2     3
Name: 2, dtype: int64
0     3
1    16
2     3
Name: 3, dtype: int64
0     5
1    26
2     2
Name: 4, dtype: int64
0     5
1    25
2     3
Name: 5, dtype: int64
0     4
1    21
2     4
Name: 6, dtype: int64
0     3
1    17
2     3
Name: 7, dtype: int64
0     4
1    22
2     2
Name: 8, dtype: int64
0     3
1    16
2     3
Name: 9, dtype: int64
0     4
1    21
2     3
Name: 10, dtype: int64
0     3
1    16
2     3
Name: 11, dtype: int64
0     3
1    18
2     3
Name: 12, dtype: int64
0     2
1    13
2     4
Name: 13, dtype: int64
0     2
1    11
2     3
Name: 14, dtype: int64
0     2
1    11
2     4
Name: 15, dtype: int64
0     3
1    17
2     3
Name: 16, dtype: int64
0     2
1    11
2     4
Name: 17, dtype: int64
0     2
1    11
2     4
Name: 18, dtype: int64
0     2
1    13
2     3
Name: 19, dtype: int64
0     3
1    17
2     3
Name: 20, dtype: int64
0     2
1    11
2     4
Name: 21, dtype: int64
0     2
1    11
2     4
Name: 22, dtype: int64
0     2
1    11
2     4
Name: 23, dtype: int64
0     2
1    11
2     4
Name: 24, dtype: int64
0     3
1    17
2     3
Name: 25, dtype: int64
0     2
1    11
2     4
Name: 26, dtype: int64
0     2
1    11
2     4
Name: 27, dtype: int64
0     3
1    17
2     3
Name: 28, dtype: int64
0     2
1    11
2     4
Name: 29, dtype: int64
0    1
1    7
2    5
Name: 30, dtype: int64
0     2
1    11
2     4
Name: 31, dtype: int64
0     4
1    22
2     2
Name: 32, dtype: int64
0     2
1    10
2     4
Name: 33, dtype: int64
0     3
1    17
2     3
Name: 34, dtype: int64
0     3
1    17
2     3
Name: 35, dtype: int64
0     3
1    15
2     3
Name: 36, dtype: int64
0     3
1    17
2     3
Name: 37, dtype: int64
0     3
1    17
2     3
Name: 38, dtype: int64
0     3
1    16
2     3
Name: 39, dtype: int64
0     3
1    17
2     3
Name: 40, dtype: int64
0     2
1    12
2     4
Name: 41, dtype: int64
0     4
1    22
2     2
Name: 42, dtype: int64
0     3
1    17
2     3
Name: 43, dtype: int64
0     2
1    12
2     4
Name: 44, dtype: int64
0     2
1    16
2     3
Name: 45, dtype: int64
0     2
1    13
2     3
Name: 46, dtype: int64
0     2
1    13
2     4
Name: 47, dtype: int64
0     2
1    15
2     2
Name: 0, dtype: int64
0     2
1    15
2     4
Name: 1, dtype: int64
0     3
1    24
2     2
Name: 2, dtype: int64
0     4
1    18
2     3
Name: 3, dtype: int64
0     2
1    13
2     6
Name: 4, dtype: int64
0     2
1    14
2     3
Name: 5, dtype: int64
0     3
1    19
2     2
Name: 6, dtype: int64
0     2
1    11
2     3
Name: 7, dtype: int64
0     1
1    16
2     7
Name: 8, dtype: int64
0     2
1    11
2     3
Name: 9, dtype: int64
0     5
1    28
2     1
Name: 10, dtype: int64
0     2
1    18
2     6
Name: 11, dtype: int64
0     2
1    16
2     4
Name: 12, dtype: int64
0     2
1    12
2     3
Name: 13, dtype: int64
0     3
1    18
2     3
Name: 14, dtype: int64
0     2
1    21
2     6
Name: 15, dtype: int64
0     4
1    19
2     1
Name: 16, dtype: int64
0     1
1    16
2     7
Name: 17, dtype: int64
0     5
1    28
2     2
Name: 18, dtype: int64
0     4
1    17
2     4
Name: 19, dtype: int64
0     5
1    24
2     2
Name: 20, dtype: int64
0     2
1    15
2     4
Name: 21, dtype: int64
0     3
1    16
2     5
Name: 22, dtype: int64
0     3
1    18
2     3
Name: 23, dtype: int64
0     7
1    35
2     1
Name: 24, dtype: int64
0     6
1    32
2     1
Name: 25, dtype: int64
0     6
1    30
2     1
Name: 26, dtype: int64
0     4
1    25
2     3
Name: 27, dtype: int64
0     5
1    29
2     1
Name: 28, dtype: int64
0     4
1    24
2     2
Name: 29, dtype: int64
0     5
1    31
2     2
Name: 30, dtype: int64
0     3
1    20
2     3
Name: 31, dtype: int64
0     5
1    31
2     1
Name: 32, dtype: int64
0     5
1    26
2     3
Name: 33, dtype: int64
0     4
1    23
2     2
Name: 34, dtype: int64
0     3
1    21
2     4
Name: 35, dtype: int64
0     4
1    20
2     3
Name: 36, dtype: int64
0     2
1    13
2     4
Name: 37, dtype: int64
0     3
1    21
2     3
Name: 38, dtype: int64
0     3
1    17
2     4
Name: 39, dtype: int64
0     1
1    10
2     3
Name: 40, dtype: int64
0     3
1    18
2     4
Name: 41, dtype: int64
0     2
1    16
2     3
Name: 42, dtype: int64
0     2
1    13
2     4
Name: 43, dtype: int64
0     1
1    14
2     2
Name: 44, dtype: int64
0     2
1    13
2     3
Name: 45, dtype: int64
0     4
1    22
2     2
Name: 46, dtype: int64
0     1
1    12
2     2
Name: 47, dtype: int64
0     1
1    10
2     6
Name: 0, dtype: int64
0    1
1    8
2    3
Name: 1, dtype: int64
0     3
1    19
2     6
Name: 2, dtype: int64
0     1
1    16
2     3
Name: 3, dtype: int64
0     2
1    12
2     5
Name: 4, dtype: int64
0     4
1    17
2     2
Name: 5, dtype: int64
0     1
1    12
2     7
Name: 6, dtype: int64
0     3
1    20
2     2
Name: 7, dtype: int64
0     2
1    11
2     4
Name: 8, dtype: int64
0     1
1    11
2     7
Name: 9, dtype: int64
0     2
1    15
2     4
Name: 10, dtype: int64
0     2
1    10
2     5
Name: 11, dtype: int64
0    2
1    9
2    3
Name: 12, dtype: int64
0     2
1    10
2     6
Name: 13, dtype: int64
0     4
1    18
2     3
Name: 14, dtype: int64
0     2
1    10
2     2
Name: 15, dtype: int64
0     2
1    11
2     7
Name: 16, dtype: int64
0    1
1    7
2    4
Name: 17, dtype: int64
0     2
1    11
2     3
Name: 18, dtype: int64
0     2
1    12
2     5
Name: 19, dtype: int64
0    1
1    9
2    7
Name: 20, dtype: int64
0     2
1    18
2     2
Name: 21, dtype: int64
0    1
1    8
2    3
Name: 22, dtype: int64
0    3
1    9
2    7
Name: 23, dtype: int64
0     2
1    13
2     4
Name: 24, dtype: int64
0     3
1    17
2     4
Name: 25, dtype: int64
0    1
1    9
2    5
Name: 26, dtype: int64
0     2
1    11
2     3
Name: 27, dtype: int64
0     2
1    10
2     4
Name: 28, dtype: int64
0     2
1    18
2     7
Name: 29, dtype: int64
0     2
1    12
2     3
Name: 30, dtype: int64
0     2
1    12
2     6
Name: 31, dtype: int64
0     4
1    21
2     2
Name: 32, dtype: int64
0     2
1    13
2     5
Name: 33, dtype: int64
0    1
1    7
2    7
Name: 34, dtype: int64
0     3
1    14
2     3
Name: 35, dtype: int64
0    2
1    9
2    5
Name: 36, dtype: int64
0     2
1    12
2     3
Name: 37, dtype: int64
0     2
1    12
2     3
Name: 38, dtype: int64
0    1
1    8
2    6
Name: 39, dtype: int64
0     2
1    17
2     3
Name: 40, dtype: int64
0     2
1    14
2     2
Name: 41, dtype: int64
0     2
1    10
2     4
Name: 42, dtype: int64
0     2
1    11
2     3
Name: 43, dtype: int64
0     2
1    10
2     5
Name: 44, dtype: int64
0     2
1    15
2     7
Name: 45, dtype: int64
0     2
1    12
2     3
Name: 46, dtype: int64
0     2
1    13
2     4
Name: 47, dtype: int64
0     2
1    23
2     3
Name: 0, dtype: int64
0     1
1    10
2     6
Name: 1, dtype: int64
0     3
1    21
2     2
Name: 2, dtype: int64
0     3
1    23
2     2
Name: 3, dtype: int64
0     3
1    22
2     2
Name: 4, dtype: int64
0     2
1    15
2     4
Name: 5, dtype: int64
0     5
1    27
2     2
Name: 6, dtype: int64
0     2
1    16
2     3
Name: 7, dtype: int64
0     2
1    11
2     4
Name: 8, dtype: int64
0     2
1    13
2     4
Name: 9, dtype: int64
0     3
1    20
2     2
Name: 10, dtype: int64
0     1
1    12
2     5
Name: 11, dtype: int64
0     3
1    16
2     2
Name: 12, dtype: int64
0     2
1    11
2     5
Name: 13, dtype: int64
0     2
1    13
2     4
Name: 14, dtype: int64
0     2
1    12
2     5
Name: 15, dtype: int64
0     2
1    14
2     4
Name: 16, dtype: int64
0     1
1    14
2     5
Name: 17, dtype: int64
0     3
1    24
2     2
Name: 18, dtype: int64
0     2
1    10
2     4
Name: 19, dtype: int64
0     2
1    11
2     4
Name: 20, dtype: int64
0     3
1    21
2     2
Name: 21, dtype: int64
0     2
1    11
2     4
Name: 22, dtype: int64
0    1
1    9
2    4
Name: 23, dtype: int64
0     2
1    17
2     2
Name: 24, dtype: int64
0     3
1    21
2     2
Name: 25, dtype: int64
0     5
1    28
2     2
Name: 26, dtype: int64
0     3
1    23
2     2
Name: 27, dtype: int64
0     3
1    15
2     4
Name: 28, dtype: int64
0     2
1    13
2     4
Name: 29, dtype: int64
0     2
1    14
2     4
Name: 30, dtype: int64
0     2
1    13
2     3
Name: 31, dtype: int64
0     2
1    11
2     5
Name: 32, dtype: int64
0     3
1    16
2     3
Name: 33, dtype: int64
0     2
1    11
2     4
Name: 34, dtype: int64
0     2
1    12
2     4
Name: 35, dtype: int64
0     3
1    17
2     2
Name: 36, dtype: int64
0     2
1    15
2     6
Name: 37, dtype: int64
0    1
1    9
2    4
Name: 38, dtype: int64
0     2
1    11
2     4
Name: 39, dtype: int64
0     2
1    17
2     5
Name: 40, dtype: int64
0     2
1    17
2     3
Name: 41, dtype: int64
0     2
1    12
2     4
Name: 42, dtype: int64
0     1
1    11
2     5
Name: 43, dtype: int64
0     3
1    23
2     5
Name: 44, dtype: int64
0     2
1    11
2     4
Name: 45, dtype: int64
0     2
1    11
2     4
Name: 46, dtype: int64
0     2
1    10
2     4
Name: 47, dtype: int64
0     3
1    16
2     3
Name: 0, dtype: int64
0     3
1    13
2     3
Name: 1, dtype: int64
0     4
1    23
2     5
Name: 2, dtype: int64
0     3
1    13
2     3
Name: 3, dtype: int64
0     5
1    26
2     2
Name: 4, dtype: int64
0     4
1    19
2     3
Name: 5, dtype: int64
0     3
1    13
2     3
Name: 6, dtype: int64
0     4
1    23
2     5
Name: 7, dtype: int64
0     5
1    28
2     1
Name: 8, dtype: int64
0     2
1    15
2     5
Name: 9, dtype: int64
0     4
1    16
2     4
Name: 10, dtype: int64
0     2
1    13
2     3
Name: 11, dtype: int64
0     2
1    11
2     4
Name: 12, dtype: int64
0     3
1    20
2     6
Name: 13, dtype: int64
0     4
1    23
2     2
Name: 14, dtype: int64
0     2
1    11
2     4
Name: 15, dtype: int64
0     2
1    15
2     5
Name: 16, dtype: int64
0     2
1    14
2     5
Name: 17, dtype: int64
0     2
1    10
2     4
Name: 18, dtype: int64
0     2
1    11
2     5
Name: 19, dtype: int64
0     2
1    16
2     5
Name: 20, dtype: int64
0     2
1    11
2     4
Name: 21, dtype: int64
0     4
1    23
2     3
Name: 22, dtype: int64
0     2
1    17
2     5
Name: 23, dtype: int64
0     2
1    12
2     4
Name: 24, dtype: int64
0     2
1    10
2     4
Name: 25, dtype: int64
0     2
1    18
2     6
Name: 26, dtype: int64
0     3
1    12
2     4
Name: 27, dtype: int64
0     2
1    11
2     4
Name: 28, dtype: int64
0     2
1    15
2     6
Name: 29, dtype: int64
0     2
1    13
2     4
Name: 30, dtype: int64
0     2
1    17
2     5
Name: 31, dtype: int64
0     4
1    23
2     2
Name: 32, dtype: int64
0     2
1    13
2     4
Name: 33, dtype: int64
0     4
1    25
2     5
Name: 34, dtype: int64
0     2
1    11
2     4
Name: 35, dtype: int64
0     5
1    26
2     4
Name: 36, dtype: int64
0     4
1    23
2     2
Name: 37, dtype: int64
0     2
1    13
2     3
Name: 38, dtype: int64
0     2
1    17
2     5
Name: 39, dtype: int64
0     2
1    12
2     3
Name: 40, dtype: int64
0     2
1    13
2     4
Name: 41, dtype: int64
0     4
1    23
2     2
Name: 42, dtype: int64
0     3
1    16
2     4
Name: 43, dtype: int64
0     2
1    11
2     4
Name: 44, dtype: int64
0     2
1    18
2     5
Name: 45, dtype: int64
0     2
1    15
2     3
Name: 46, dtype: int64
0     2
1    11
2     4
Name: 47, dtype: int64
0     2
1    11
2     3
Name: 0, dtype: int64
0     3
1    18
2     1
Name: 1, dtype: int64
0     3
1    15
2     6
Name: 2, dtype: int64
0     2
1    11
2     3
Name: 3, dtype: int64
0     4
1    20
2     1
Name: 4, dtype: int64
0     2
1    12
2     5
Name: 5, dtype: int64
0     3
1    15
2     4
Name: 6, dtype: int64
0     1
1    10
2     5
Name: 7, dtype: int64
0     2
1    14
2     2
Name: 8, dtype: int64
0    1
1    6
2    4
Name: 9, dtype: int64
0     2
1    14
2     5
Name: 10, dtype: int64
0     2
1    10
2     3
Name: 11, dtype: int64
0     4
1    20
2     1
Name: 12, dtype: int64
0     3
1    18
2     4
Name: 13, dtype: int64
0     4
1    21
2     3
Name: 14, dtype: int64
0     3
1    16
2     3
Name: 15, dtype: int64
0     5
1    24
2     4
Name: 16, dtype: int64
0     3
1    15
2     3
Name: 17, dtype: int64
0     5
1    24
2     1
Name: 18, dtype: int64
0     3
1    14
2     4
Name: 19, dtype: int64
0     3
1    14
2     5
Name: 20, dtype: int64
0     4
1    18
2     2
Name: 21, dtype: int64
0     5
1    26
2     3
Name: 22, dtype: int64
0     2
1    12
2     6
Name: 23, dtype: int64
0     3
1    15
2     4
Name: 24, dtype: int64
0     2
1    10
2     4
Name: 25, dtype: int64
0     3
1    13
2     3
Name: 26, dtype: int64
0     2
1    12
2     7
Name: 27, dtype: int64
0     3
1    13
2     4
Name: 28, dtype: int64
0     3
1    15
2     3
Name: 29, dtype: int64
0     3
1    14
2     4
Name: 30, dtype: int64
0     3
1    15
2     4
Name: 31, dtype: int64
0     3
1    16
2     3
Name: 32, dtype: int64
0     2
1    13
2     6
Name: 33, dtype: int64
0     3
1    15
2     2
Name: 34, dtype: int64
0    1
1    6
2    4
Name: 35, dtype: int64
0     4
1    24
2     1
Name: 36, dtype: int64
0     4
1    18
2     3
Name: 37, dtype: int64
0     4
1    20
2     1
Name: 38, dtype: int64
0     3
1    15
2     4
Name: 39, dtype: int64
0     3
1    17
2     4
Name: 40, dtype: int64
0     3
1    16
2     3
Name: 41, dtype: int64
0     5
1    27
2     5
Name: 42, dtype: int64
0     3
1    14
2     3
Name: 43, dtype: int64
0     4
1    24
2     1
Name: 44, dtype: int64
0     4
1    22
2     3
Name: 45, dtype: int64
0     3
1    15
2     2
Name: 46, dtype: int64
0     3
1    16
2     3
Name: 47, dtype: int64
0     1
1    11
2     3
Name: 0, dtype: int64
0    1
1    9
2    5
Name: 1, dtype: int64
0     2
1    12
2     4
Name: 2, dtype: int64
0    1
1    8
2    4
Name: 3, dtype: int64
0     2
1    20
2     2
Name: 4, dtype: int64
0     2
1    11
2     4
Name: 5, dtype: int64
0     3
1    25
2     1
Name: 6, dtype: int64
0     2
1    11
2     4
Name: 7, dtype: int64
0    1
1    9
2    4
Name: 8, dtype: int64
0     2
1    12
2     3
Name: 9, dtype: int64
0     3
1    22
2     1
Name: 10, dtype: int64
0     2
1    13
2     3
Name: 11, dtype: int64
0     3
1    19
2     1
Name: 12, dtype: int64
0     3
1    14
2     2
Name: 13, dtype: int64
0     3
1    18
2     2
Name: 14, dtype: int64
0     2
1    11
2     4
Name: 15, dtype: int64
0     3
1    23
2     2
Name: 16, dtype: int64
0     2
1    20
2     3
Name: 17, dtype: int64
0     3
1    16
2     2
Name: 18, dtype: int64
0     3
1    20
2     2
Name: 19, dtype: int64
0     2
1    15
2     3
Name: 20, dtype: int64
0     3
1    21
2     3
Name: 21, dtype: int64
0     2
1    16
2     3
Name: 22, dtype: int64
0     2
1    13
2     4
Name: 23, dtype: int64
0     2
1    12
2     4
Name: 24, dtype: int64
0     3
1    16
2     3
Name: 25, dtype: int64
0     3
1    16
2     3
Name: 26, dtype: int64
0     3
1    13
2     4
Name: 27, dtype: int64
0     2
1    15
2     4
Name: 28, dtype: int64
0     3
1    19
2     3
Name: 29, dtype: int64
0     2
1    10
2     4
Name: 30, dtype: int64
0     2
1    12
2     4
Name: 31, dtype: int64
0     2
1    13
2     4
Name: 32, dtype: int64
0     2
1    13
2     3
Name: 33, dtype: int64
0     2
1    15
2     4
Name: 34, dtype: int64
0     2
1    10
2     4
Name: 35, dtype: int64
0     2
1    11
2     4
Name: 36, dtype: int64
0     2
1    11
2     4
Name: 37, dtype: int64
0     2
1    10
2     4
Name: 38, dtype: int64
0     3
1    16
2     3
Name: 39, dtype: int64
0     3
1    20
2     2
Name: 40, dtype: int64
0     2
1    11
2     4
Name: 41, dtype: int64
0     3
1    17
2     5
Name: 42, dtype: int64
0    2
1    9
2    4
Name: 43, dtype: int64
0     2
1    10
2     4
Name: 44, dtype: int64
0     3
1    16
2     5
Name: 45, dtype: int64
0     3
1    16
2     3
Name: 46, dtype: int64
0     2
1    10
2     4
Name: 47, dtype: int64
0     1
1    15
2     6
Name: 0, dtype: int64
0     1
1    10
2     5
Name: 1, dtype: int64
0     3
1    15
2     4
Name: 2, dtype: int64
0     1
1    11
2     6
Name: 3, dtype: int64
0     2
1    11
2     4
Name: 4, dtype: int64
0    1
1    9
2    4
Name: 5, dtype: int64
0     1
1    13
2     6
Name: 6, dtype: int64
0    1
1    9
2    4
Name: 7, dtype: int64
0     2
1    14
2     3
Name: 8, dtype: int64
0     2
1    14
2     5
Name: 9, dtype: int64
0     2
1    10
2     4
Name: 10, dtype: int64
0     1
1    10
2     5
Name: 11, dtype: int64
0     2
1    14
2     4
Name: 12, dtype: int64
0     2
1    10
2     4
Name: 13, dtype: int64
0     1
1    12
2     5
Name: 14, dtype: int64
0     2
1    12
2     4
Name: 15, dtype: int64
0     1
1    10
2     4
Name: 16, dtype: int64
0     1
1    15
2     6
Name: 17, dtype: int64
0    1
1    9
2    5
Name: 18, dtype: int64
0    1
1    9
2    5
Name: 19, dtype: int64
0     2
1    13
2     4
Name: 20, dtype: int64
0    1
1    8
2    4
Name: 21, dtype: int64
0     1
1    11
2     5
Name: 22, dtype: int64
0     2
1    15
2     3
Name: 23, dtype: int64
0     3
1    15
2     3
Name: 24, dtype: int64
0     1
1    13
2     6
Name: 25, dtype: int64
0     1
1    13
2     4
Name: 26, dtype: int64
0     3
1    18
2     3
Name: 27, dtype: int64
0     1
1    11
2     6
Name: 28, dtype: int64
0    1
1    9
2    4
Name: 29, dtype: int64
0     2
1    15
2     4
Name: 30, dtype: int64
0     1
1    13
2     4
Name: 31, dtype: int64
0     1
1    11
2     7
Name: 32, dtype: int64
0     3
1    17
2     3
Name: 33, dtype: int64
0     1
1    11
2     4
Name: 34, dtype: int64
0     1
1    11
2     6
Name: 35, dtype: int64
0    1
1    7
2    4
Name: 36, dtype: int64
0     2
1    12
2     4
Name: 37, dtype: int64
0     1
1    12
2     7
Name: 38, dtype: int64
0     1
1    10
2     4
Name: 39, dtype: int64
0     2
1    15
2     3
Name: 40, dtype: int64
0     1
1    10
2     7
Name: 41, dtype: int64
0     1
1    12
2     5
Name: 42, dtype: int64
0     1
1    12
2     7
Name: 43, dtype: int64
0     2
1    14
2     4
Name: 44, dtype: int64
0     1
1    12
2     4
Name: 45, dtype: int64
0    1
1    9
2    7
Name: 46, dtype: int64
0     2
1    14
2     3
Name: 47, dtype: int64
0     5
1    26
2     5
Name: 0, dtype: int64
0     5
1    24
2     5
Name: 1, dtype: int64
0     4
1    22
2     4
Name: 2, dtype: int64
0     4
1    21
2     4
Name: 3, dtype: int64
0     4
1    25
2     2
Name: 4, dtype: int64
0     3
1    16
2     3
Name: 5, dtype: int64
0     3
1    17
2     4
Name: 6, dtype: int64
0     3
1    13
2     3
Name: 7, dtype: int64
0     3
1    17
2     2
Name: 8, dtype: int64
0     2
1    11
2     3
Name: 9, dtype: int64
0     3
1    14
2     3
Name: 10, dtype: int64
0     2
1    11
2     5
Name: 11, dtype: int64
0     2
1    17
2     2
Name: 12, dtype: int64
0     2
1    12
2     4
Name: 13, dtype: int64
0     3
1    18
2     4
Name: 14, dtype: int64
0     2
1    10
2     3
Name: 15, dtype: int64
0     2
1    10
2     3
Name: 16, dtype: int64
0     2
1    15
2     5
Name: 17, dtype: int64
0     3
1    20
2     3
Name: 18, dtype: int64
0     2
1    15
2     6
Name: 19, dtype: int64
0    2
1    8
2    3
Name: 20, dtype: int64
0     2
1    12
2     5
Name: 21, dtype: int64
0     4
1    21
2     3
Name: 22, dtype: int64
0    2
1    8
2    4
Name: 23, dtype: int64
0     2
1    12
2     5
Name: 24, dtype: int64
0    1
1    7
2    3
Name: 25, dtype: int64
0    1
1    7
2    4
Name: 26, dtype: int64
0     2
1    16
2     7
Name: 27, dtype: int64
0     1
1    11
2     4
Name: 28, dtype: int64
0    1
1    8
2    3
Name: 29, dtype: int64
0     4
1    21
2     3
Name: 30, dtype: int64
0     3
1    15
2     3
Name: 31, dtype: int64
0     3
1    14
2     3
Name: 32, dtype: int64
0     2
1    16
2     6
Name: 33, dtype: int64
0     2
1    11
2     3
Name: 34, dtype: int64
0    1
1    7
2    4
Name: 35, dtype: int64
0     3
1    18
2     2
Name: 36, dtype: int64
0     3
1    18
2     5
Name: 37, dtype: int64
0     4
1    24
2     1
Name: 38, dtype: int64
0     2
1    12
2     3
Name: 39, dtype: int64
0     4
1    23
2     2
Name: 40, dtype: int64
0     4
1    23
2     6
Name: 41, dtype: int64
0     4
1    20
2     2
Name: 42, dtype: int64
0     4
1    21
2     2
Name: 43, dtype: int64
0     4
1    23
2     2
Name: 44, dtype: int64
0     3
1    19
2     2

In [3]:
import os
import pandas as pd
import json

base_folder_path = 'D:\data_guan_cut_sub\Questionnaires'
csv_folder_path = r'D:\data_guan_cut_sub\final'

final_labels = {}

for participant_id in range(1, 44): 
    participant_folder = os.path.join(base_folder_path, f"No{participant_id}")
    
    excel_file_path = os.path.join(participant_folder, f"No{participant_id}_Subjective Questionnaires.xlsx")
    
    if os.path.exists(excel_file_path):
        df = pd.read_excel(excel_file_path, header=None)
        # 假设第二列是 STS-AD 分数，即第 1 索引列
        sts_ad_scores = df[1]  # 获取第 2 列 (index = 1)
        
        # 计算中位数
        median_sts_ad = sts_ad_scores.median()
        
        labels = []
        
        for experiment_id, row in df.iterrows():
            sts_ad_score = row[1]  # 第二列是 STS-AD 分数
            
            # 二分类根据 STS-AD 中位数
            if sts_ad_score <= median_sts_ad:
                label = False  # 小于等于中位数
            else:
                label = True  # 大于中位数
            
            # 存入列表
            labels.append({
                "experiment": f"{participant_id}_{experiment_id + 1}.csv",
                "label": label
            })
        
        final_labels[f"Participant_{participant_id}"] = labels
    else:
        print(f"Excel 文件 {excel_file_path} 不存在，跳过此文件。")

# 将结果保存为json文件
json_output_path = '.\\label_2.json'  # 修改后的输出文件名
with open(json_output_path, 'w') as json_file:
    json.dump(final_labels, json_file, indent=4)

print(f"分类标签已保存为 {json_output_path}")

<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\goodb\AppData\Local\Temp\ipykernel_2892\175252592.py:5: SyntaxWarning: invalid escape sequence '\d'
  base_folder_path = 'D:\data_guan_cut_sub\Questionnaires'

分类标签已保存为 .\label_2.json